{{#extend "default"}} {{#content "main"}}

				<!-- Main -->
					<div id="main" class="alt">
                    
						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>{{sectionOne.title}}</h1>
									</header>
									<span class="image main"><img src="{{sectionOne.image}}" alt="" /></span>
								   {{{sectionOne.metadata}}}
								</div>
							</section>

					</div>

				<!-- Contact -->
				 
           {{/content}}
			{{/extend}}