{{#extend "default"}} {{#content "main"}}

<!-- Introduction -->
	<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>{{banner.title}}</h1>
							</header>
							<div class="content">
								<p>{{{banner.metadata}}}</p>
								<ul class="actions">
									<li><a href="{{banner.actions.url}}" class="button next scrolly">{{banner.actions.title}}</a></li>
								</ul>
							</div>
						</div>
					</section>
                   
				<!-- Main -->
					<div id="main">
                             
						<!-- One -->
							<section id="{{sectionOne.id}}" class="{{sectionOne.class}}">
								{{#each sectionOne.items}}
                                <article>
									<span class="{{classSpan}}">
										<img src="{{image}}" alt="" />
									</span>
									<header class="{{classHeader}}">
										<h3><a href="{{urlheader}}" class="{{classHeader}}">{{titleHeader}}</a></h3>
										<p>{{nameHeader}}</p>
									</header>
								</article>
								 {{/each}}
							</section>

						<!-- Two -->
                        
							<section id="{{sectionTwo.id}}">
								<div class="{{sectionTwo.class}}">
									<header class="{{sectionTwo.classHeader}}">
										<h2>{{sectionTwo.titleHeader}}</h2>
									</header>
									<p>{{sectionTwo.name}}</p>
									<ul class="{{sectionTwo.ulClass}}">
										<li><a href="{{sectionTwo.ulUrl}}" class="{{sectionTwo.ulBtn}}">{{sectionTwo.ulTitle}}</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
                   
					<section id="contact">
						<div class="{{sectionContact.class}}">
							<section>
								<form method="post" action="#">
                                    {{#each sectionContact.form.inputItems}}
									<div class="{{class}}">
										<label for="{{lableFor}}">{{lableTitle}}</label>
										<input type="{{inputType}}" name="{{inputName}}" id="{{inputId}}" />
									</div>
                                    {{/each}}
                                
									
									<div class="field">
										<label for="{{sectionContact.form.textArea.label}}">{{sectionContact.form.textArea.label}}</label>
										<textarea name="{{sectionContact.form.textArea.name}}" id="{{sectionContact.form.textArea.id}}" rows="{{sectionContact.form.textArea.rows}}"></textarea>
									</div>
									<ul class="actions">
                                        {{#each sectionContact.form.actions}}
										<li><input type="{{type}}" value="{{value}}" class="{{class}}" /></li>
										
                                        {{/each}}
									</ul>
								</form>
							</section>
                           
							<section class="split">
								<section>
									<div class="{{sectionSplit.section.class}}">
										<span class="{{sectionSplit.section.spanClass}}"></span>
										<h3>{{sectionSplit.section.h3}}</h3>
										<a href="{{sectionSplit.section.url}}">{{sectionSplit.section.titleA}}</a>
									</div>
								</section>
                                {{#each sectionSplit.items}}
								<section>
									<div class="{{class}}">
										<span class="{{spanClass}}"></span>
										<h3>{{h3}}</h3>
										<span>{{{titleSpan}}}</span>
									</div>
								</section>
                                {{/each}}
							
							</section>
						</div>
					</section>

{{/content}} {{/extend}}