{{#extend "default"}} {{#content "main"}}

<!-- Introduction -->
	<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>{{banner.title}}</h1>
							</header>
							<div class="content">
								<p>{{{banner.metadata}}}</p>
								<ul class="actions">
									<li><a href="{{banner.actions.url}}" class="button next scrolly">{{banner.actions.title}}</a></li>
								</ul>
							</div>
						</div>
					</section>
                    
            
			
					<div id="main">
                             
						<!-- One -->
							<section id="{{sectionOne.id}}" class="{{sectionOne.class}}">
								{{#each sectionOne.items}}
                                <article>
									<span class="{{classSpan}}">
										<img src="{{image}}" alt="" />
									</span>
									<header class="{{classHeader}}">
										<h3><a href="{{urlheader}}" class="{{classHeader}}">{{titleHeader}}</a></h3>
										<p>{{nameHeader}}</p>
									</header>
								</article>
								 {{/each}}
							</section>

						<!-- Two -->
                        
							<section id="{{sectionTwo.id}}">
								<div class="{{sectionTwo.class}}">
									<header class="{{sectionTwo.classHeader}}">
										<h2>{{sectionTwo.titleHeader}}</h2>
									</header>
									<p>{{sectionTwo.name}}</p>
									<ul class="{{sectionTwo.ulClass}}">
										<li><a href="{{sectionTwo.ulUrl}}" class="{{sectionTwo.ulBtn}}">{{sectionTwo.ulTitle}}</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
                   
					

{{/content}} {{/extend}}