{{#extend "default"}} {{#content "main"}}
 	<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="{{banner.class}}">
						<div class="inner">
							<span class="image">
								<img src="{{banner.image}}" alt="" />
							</span>
							<header class="major">
								<h1>{{banner.title}}</h1>
							</header>
							<div class="content">
								<p>{{{banner.metadata}}}</p>
							</div>
						</div>
					</section>
				 
				 
				<!-- Main -->
					<div id="main">

							<!-- One -->
							<section id="{{main.sectionOne.id}}">
								<div class="inner">
									<header class="{{main.sectionOne.class}}">
										<h2>{{main.sectionOne.title}}</h2>
									</header>
									<p>{{main.sectionOne.description}}</p>
								</div>
							</section>
							
							  
							 
						<!-- Two -->
							<section id="{{main.sectionTwo.id}}" class="{{main.sectionTwo.class}}">
								 {{#each main.sectionTwo.items}}
								<section>
									<a href="{{url}}" class="image">
										<img src="{{image}}" alt="" data-position="{{data}}" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{title}}</h3>
											</header>
											<p>{{description}}</p>
											<ul class="actions">
												<li><a href="{{url}}" class="button">{{liTitle}}</a></li>
											</ul>
										</div>
									</div>
								</section>
								{{/each}}
								
								
							</section>

						<!-- Three -->
						     
							<section id="{{main.sectionThree.id}}">
								<div class="{{main.sectionThree.class}}">
									<header class="{{main.sectionThree.headerClass}}">
										<h2>{{main.sectionThree.headerTitle}}</h2>
									</header>
									<p>{{main.sectionThree.description}}</p>
									<ul class="{{main.sectionThree.ulClass}}">
										<li><a href="{{main.sectionThree.url}}" class="{{main.sectionThree.liClass}}">{{main.sectionThree.liTitle}}</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					 
				


{{/content}} {{/extend}}